@import "./utilities";

#main-layout {
  @media screen and (min-width: 992px) {
    max-height: 100vh;
  }

  #header {
    padding: 2rem;

    @media screen and (min-width: 992px) {
      padding-top: 3vh;
      padding-bottom: 3vh;
    }

    .page-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1600px;

      .logo {
        width: 20vw;

        @media screen and (max-width: 767px) {
          width: 40vw;
        }

        @media screen and (max-width: 575px) {
          width: 35vw;
        }
      }

      .btn {
        font-size: 22px;
        padding-left: 26px;
        padding-right: 26px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #000;
        background: url("../assets/bg-board.png");
        background-size: contain;
        background-position: center;

        @media screen and (max-width: 575px) {
          font-size: 16px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }

  #main-body {
    position: relative;
    min-height: 1000px;
    padding-bottom: 30%;

    @media screen and (min-width: 992px) {
      overflow-y: hidden;
    }

    @media screen and (min-width: 992px) {
      min-height: unset;
      padding-bottom: unset;
      height: calc(100vh - 56px - 3vh - 3vh);
    }

    .trees,
    .bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      pointer-events: none;

      @media screen and (min-width: 992px) {
        bottom: -30vh;
      }
    }

    .trees {
      @media screen and (min-width: 992px) {
        bottom: -10vh;
      }
    }

    .bg {
      opacity: 0.1;
    }
  }
}

#main {
  padding-top: 70px;
  position: relative;
  z-index: 1;
  padding: 0;
  display: flex;
  align-items: center;

  .page-container {
    width: 100%;

    @media screen and (min-width: 992px) {
      width: 120vh;
    }
  }

  .heading {
    font-size: 38px;
    height: 80px;
    max-width: 410px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    background: url("../assets/bg-board.png");
    background-size: 130%;
    background-position: center;

    @media screen and (min-width: 992px) {
      font-size: 4vh;
      max-width: 50vh;

      height: 9vh;
    }
  }

  .mint-box {
    margin-top: 50px;
    background: url("../assets/bg-board.png");
    background-size: 130%;
    background-position: center;
    padding: 50px;
    border-radius: 50px;
    border: 3px solid #433a37;

    @media screen and (min-width: 992px) {
      margin-top: 4vh;
      padding: 4vh;
    }

    @media screen and (max-width: 575px) {
      border-radius: 30px;
    }

    .nft-container {
      padding: 30px 18px;
      background-color: #5f4e4980;
      border: 3px solid #433a37;
      border-radius: 38px;
      max-width: 342px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 992px) {
        padding-top: 1vh;
        padding-bottom: 3vh;
        max-width: 23vh;
        border-radius: 3.5vh;
      }

      @media screen and (max-width: 575px) {
        border-radius: 20px;
      }

      video {
        width: 100%;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 992px) {
          height: 16vh;
          width: unset;
        }
      }
    }
  }

  .mint-btn,
  .number {
    border-radius: 12px;
    background-color: #5f4e49;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 80px;
    border: 2px solid #000;
    max-width: 380px;

    @media screen and (min-width: 992px) {
      height: 9vh;
      font-size: 2.5vh;
    }

    @media screen and (max-width: 575px) {
      font-size: 40px;
    }
  }

  .number-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    @media screen and (min-width: 992px) {
      margin-top: 4vh;
    }

    .number {
      width: 80px;
      margin: 0 2rem;
    }
  }

  .mint-btn {
    margin: 30px 0 0;
    margin-left: auto;
    max-width: 30vh;
    margin-right: auto;
  }
}
